<table class="table table-bordered" id="directionsTable" width="100%" namefile="Direcciones">
	<thead>
		<tr class="text-center">
			<th>
				#
			</th>
			<th>
				Descripción
			</th>
			<th>
				Fecha
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr class="text-center noExl">
			<th>
				#
			</th>
			<th>
				Descripción
			</th>
			<th>
				Fecha
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</tfoot>
</table>
{% include "common/exportToExcel.twig" with {'table': 'directionsTable'} %}
