{% if path is defined %}
    <a class="btn btn-primary text-white" href="{{ path(path) }}">Nuevo<i class="fas fa-plus ms-2"></i></a>
{% else %}
    <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="{{create}}">Nuevo<i class="fas fa-plus ms-2"></i></a>
{% endif %}