<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
		<i class="fas fa-times me-2"></i>Cerrar
	</button>
	<button class="btn btn-primary" type="submit">
		<i class="far fa-check-circle me-2"></i>Guardar
	</button>
</div>
