<table class="table table-bordered" id="areaTable" width="100%" namefile="Areas">
	<thead>
		<tr class="text-center">
			<th>
				#
			</th>
			<th>
				Descripci贸n
			</th>
			<th>
				Direcci贸n Asociada
			</th>
			<th>
				Fecha
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr class="noExl">
			<th>
				#
			</th>
			<th>
				Descripci贸n
			</th>
			<th>
				Direcci贸n Asociada
			</th>
			<th>
				Fecha
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</tfoot>
</table>
<div class="row mt-3">
	<div class="col-md-4 pull-left">
		<div class="dropdown dropup">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
				<i class="fa fa-bars"></i>
				Exportar Datos
				<span class="caret"></span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" onclick="exportToExcel('areaTable')" href="#"><img src="{{ asset('images/icons/xls.png') }}" width="24">
					Excel</a>
			</div>
		</div>
	</div>
</div>
