{% extends 'base.html.twig' %}

{% block body %}
	{% include "common/breadcrumbs.twig" with {'currentPage': 'Areas'} %}
	<div class="page">
		<div class="card mt-2">
			<div class="card-header text-center">
				<b class="h6">
					Areas
				</b>
				<div class="float-end">
					{% include 'common/createButton.twig' with {'create': '#saveAreaModal'} %}
				</div>
			</div>
			<div class="card-body p-4">
				<div class="text-center mt-2" id="spinner-div">
					<div class="spinner-border text-primary"></div>
				</div>
				<div class="table-container">
					{% include 'area/_table.twig' %}
				</div>
				{% include 'area/_modalSave.twig' with {'directions': directions} %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	{{parent()}}
	<script src="{{asset('js/custom/area.js') }}"></script>
{% endblock %}
