<table class="table table-bordered" id="topPositionTable" width="100%" namefile="Puestos Superiores">
	<thead>
		<tr class="text-center">
			<th>
				#
			</th>
			<th>
				Descripci贸n
			</th>
			<th>
				Direcci贸n Asociada
			</th>
			<th>
				Fecha
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr class="text-center noExl">
			<th>
				#
			</th>
			<th>
				Descripci贸n
			</th>
			<th>
				Fecha
			</th>
			<th>
				Direcci贸n Asociada
			</th>
			<th class="noExl">
				Acciones
			</th>
		</tr>
	</tfoot>
</table>
{% include "common/exportToExcel.twig" with {'table': 'topPositionTable'} %}
