{% extends 'base.html.twig' %}

{% block body %}
	<div class="page">
		<div class="card mt-2">
			<div class="card-header text-center">
				<b class="h6">
					Puestos superiores
				</b>
				<div class="float-right">
					{% include 'common/createButton.twig' with {'create': '#saveTopPositionModal'} %}
				</div>
			</div>
			<div class="card-body p-4">
				<div class="text-center mt-2" id="spinner-div">
					<div class="spinner-border text-primary" role="status"></div>
				</div>
				<div class="table-container">
					{% include 'top_position/_table.twig' %}
				</div>
				{% include 'top_position/_modalSave.twig' with {'directions': directions} %}
			</div>
		</div>
	</div>
	<br>
	<div id="loading"></div>
{% endblock %}
{% block javascript %}
	{{parent()}}
	<script src="{{asset('js/customJs/loadingDatatable.js') }}"></script>
	<script src="{{asset('js/customJs/topPosition.js') }}"></script>
{% endblock %}
